@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Caveat';
  src: url('/assets/fonts/Caveat/Caveat-Regular.ttf') format('truetype');
  font-weight: 400;
}
