@import "./base/_mixins";
@import "./base/_variables";
@import "./custom/bootstrap";

/* Main */

* {
  @include no-space();
}

body {
  font-family: "Montserrat", sans-serif;
  @include width-height(100%, 100vh);
  @include no-space();
  background: $black;
}

/* Navigation */

#nav {
  @include fullscreen();
  position: fixed;
  overflow-y: hidden;
  z-index: 99;
  @include absolute-left-top();
}

.nav-list {
  text-align: center;
  list-style-type: none;
  @include no-space();
  @include absolute-center();
}

.nav-list li {
  margin: 10px 0;
}

.nav-list li a {
  padding: 8px;
  text-decoration: none;
  font-size: 3rem;
  color: $white;
  font-weight: 300;
  display: inline-block;
  transition: 0.3s;
}

.hvr-underline-from-center::before {
  background: $white;
}

.form-control:focus {
  border: 1px solid #ced4da;
  -webkit-box-shadow: none;
  box-shadow: none;
}

*:focus {
  outline: none !important;
}

textarea:focus, input:focus{
  outline: none !important;
}

/* Bars */

#bars {
  display: inline-block;
  z-index: 99;
  position: fixed;
  top: 35px;
  right: 35px;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  @include width-height(35px, 5px);
  background-color: $white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* Particles */

#particles {
  @include width-height(100%, 99vh);
  @include absolute-left-top();
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* Pages */

.content {
  z-index: 9;
  position: relative;
  @include width-height(100%, 100vh);
}

.content h1, h3 {
  color: $white;
  background: transparent;
  display: inline-block;
}

.content p {
  font-family: 'PT Serif', serif;
  font-size: 1.50rem;
  font-weight: 400;
}

.content-center {
  width: 75%;
  height: 75%;
  box-sizing: border-box;
  @include absolute-center();
}

.skill h5 {
  font-size: 2.5rem;
  margin: 0;
  display: table;
  cursor: default;
  @include absolute-center();
}

.row {
  margin: 0;
}

.absolute-center {
  @include absolute-center();
}

.project-icons {
  display: none;
  z-index: 999;
  @include absolute-center();
}

.project-icons i {
  color: $white;
  font-size: 3rem;
  margin: 0 0.5rem;
}

.img-circle {
  border-radius: 100%;
}

.hvr-shutter-out-horizontal {
  background: transparent;
}

.hvr-shutter-out-horizontal::before {
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.hvr-shutter-out-horizontal:hover .project-icons {
  display: block;
}

/* Main Header */

#mainHeader {
  @include absolute-center();
  color: $white;
}

#mainHeader h1,
h2 {
  @include no-space();
  font-size: 3rem !important;
}

#mainHeader h2 {
  margin-top: 1rem;
  background: $white;
  color: $black;
}

.form-header {
  font-size: 2rem !important;
}

.vc {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Social Media */

.social-links {
  @include absolute-left-top(35px, 35px);
  margin-top: 5px;
}

.social-links ul {
  @include no-space();
}

.social-links ul li {
  position: relative;
  float: left;
  margin: 0;
  margin-right: 20px;
  list-style-type: none;
}

.social-links ul li a {
  padding: 15px;
  text-align: center;
  @include width-height(65px, 65px);
  border-radius: 65px;
  position: relative;
}

.social-links ul li i {
  font-size: 1.75rem;
  color: $white;
  @include absolute-center();
}

.facebook {
  background: #3b5998;
}

.twitter {
  background: #55acee;
}

.instagram {
  background: #c32aa3;
}

.linkedin {
  background: #125688;
}

.github {
  background: #24292e;
}

/* Mobile */

@media only screen and (max-width: 1300px) {
  .skill h5 {
    font-size: 2rem;
  }

  .content p {
    font-size: 1.25rem;
  }

  .project {
    margin: 0 !important;
    margin-bottom: 1.5rem !important;
  }

  .project-icons i {
    font-size: 1.5rem;
  }

  .content-center {
    @include width-height(100%, 75%);
  }

  .me {
    @include width-height(150px, 150px);
    margin-bottom: 1.5rem;
  }

  .content p {
    font-size: 1rem;
    margin-bottom: 1.25rem !important;
  }
}

@media only screen and (max-width: 991px) {
  .vc {
    position: none;
    top: 0;
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  .absolute-center {
    position: relative !important;
  }
}

@media only screen and (max-width: 768px) {
  .skill h5 {
    font-size: 1.25rem;
  }

  .social-links ul li i {
    font-size: 1.25rem;
  }

  .social-links ul li {
    margin-right: 10px;
  }

  .social-links ul li a {
    @include width-height(45px, 45px);
    border-radius: 45px;
  }

  .nav-list li a {
    font-size: 2.5rem;
  }

  .project img {
    height: 100px !important;
  }

  #mainHeader h1, h2 {
    font-size: 2.5rem !important;
  }
}

@media only screen and (max-width: 480px) {
  .content p {
    font-size: 1rem;
  }

  .social-links ul li i {
    font-size: 1rem;
  }

  .social-links ul li a {
    @include width-height(30px, 30px);
    border-radius: 30px;
  }

  #mainHeader h1, h2 {
    font-size: 2rem !important;
  }

  .nav-list li a {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 325px) {
  .skill h5 {
    font-size: 1rem;
  }

  #bars {
    top: 15px;
    right: 15px;
  }

  .social-links {
    top: 15px;
    left: 15px;
  }

  .social-links ul li {
    margin-right: 5px;
  }

  .social-links ul li a {
    @include width-height(20px, 20px);
    border-radius: 20px;
  }
}
